<div class="container">
    <form asp-action="Search" method="get">
        <input type="text" name="searchString" placeholder="Nhập lớp cần tìm...."
               value="@ViewBag.SearchString" />
        <input type="submit" value="tìm kiếm" />
    </form>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Tên lớp
                </th>
                <th> Ngày nhập học </th>
                <th> Ngày ra trường </th>
                <th> Số lượng sinh viên </th>
                <th>Chức năng</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.LopHoc)
            {
                <tr>
                    <td width="15%">@item.TenLopHoc</td>
                    <td width="20%">@string.Format("{0:dd/MM/yyyy}", item.NamNhapHoc)</td>
                    <td width="20%">@string.Format("{0:dd/MM/yyyy}", item.NamRaTruong)</td>
                    <td width="15%">@item.SoLuongSinhVien</td>
                    <td width="30%">
                        <a asp-action="Edit" asp-route-id="@item.Id">
                            Edit
                        </a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">
                            Delete
                        </a>
                        <a asp-action="Details" asp-route-id="@item.Id">
                            Details
                        </a> |
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <a asp-controller="LopHoc" asp-action="Create" class="btn btn-primary"> Thêm mới</a>
</div>


